<table class="contenidoTabla">
<thead class="titulosTabla ">
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Costo</th>
      <th scope="col">numExist</th>
    </tr>
  </thead>
 <tbody class="cuerpoTabla">
    {% for producto in object_list %}
    <tr>
      <td>{{producto.nomProducto}}</td>
      <td>{{producto.descripcion}}</td>
       <td>{{producto.costo}}</td>
       <td>{{producto.numExist}}</td>
      <td>
         <button class="btn"onclick="agregarCantidad({{producto.id}},'{{producto.nomProducto}}', {{producto.costo}}, {{producto.numExist}})" id="{{producto.id}}" >Agregar</button>
      </td>

    </tr>
    {% empty %}
      <th>No hay productos registrados</th>
    {% endfor%}
  </tbody>
</table>