<table class="contenidoTabla">
  <thead class="titulosTabla">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Categoría</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody class="cuerpoTabla">
    {% for categoria in categorias %}
    <tr scope="row">
      <td class="id">{{categoria.id}}</td>
      <td>{{categoria.nomCategoria}}</td>
      <td>{{categoria.fechaCreacion}}</td>
      <td>
        <a class="btn" href="{% url 'productos:editarCategoria' categoria.id %}">Editar</a>
        <a class="btn" href="{% url 'productos:eliminarCategoria' categoria.id %}">Eliminar</a>
      </td>
    </tr>
    {% empty %}
      <th>No hay categorías registradas</th>
    {% endfor%}
  </tbody>
</table>