{% extends 'base/index.html' %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron">
	<div class="index">
		<h1 class="display-4">Tienda</h1>
		<p class="lead text-muted p">Selecciona una de las siguientes opciones:</p>
		<div class="opcionesIndex">
			<a class="btn" href="{% url 'productos:listaCategorias' %}">Categorías</a>
			<a class="btn" href="{% url 'productos:listaProductos' %}">Productos</a>
			<a class="btn" href="{% url 'productos:listaProductos' %}">Ventas</a>
		</div>
	</div>
	<div class="icon">
		<i class="fas fa-shopping-cart"></i>
	</div>
</section>
{% endblock %}