{% extends 'base/index.html' %}

{% block title %} Productos {% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/css/form.css">
<div class="container mb-5">
	<div class="row justify-content-md-center">
		<div class="col-6">
			<h1 class="text-center mt-4 mb-4">Registro de Producto</h1>
			<form method="post" class="form">
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">Aceptar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
