/*body{
	font-family: 'Segoe UI', sans-serif;
	background-color: rgba(0,0,0,.02);
	margin: 20px;
}
header{
	font-size: 2.5em;
	text-align: center;
	padding: 20px;
	font-weight: lighter;
}
div{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	font-size: 1.1em;
}

footer{
	position: fixed;
	bottom: 0px;
	padding: 10px;
	background-color: #50C58A;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	left: 0;
	font-weight: lighter;
}*/

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	text-align: center;
	width: 100%;
	font-weight: lighter;
	background-color: rgba(0,0,0,.1);
	font-size: .9rem;
	color: rgba(0,0,0,.5);
}

nav{
	background-color: rgba(0,0,0,.08);
	font-weight: bold;
}

nav .collapse{
	font-weight: lighter;
}

.jumbotron {
	background-color: white;
}

.jumbotron h1{
	font-weight: bold;
	color: rgba(0,0,0,.8);
}

.p{
	font-size: 1.4rem;
	font-weight: lighter;
}

.btn a{
	font-weight: bold;
}

body, h2{
	font-weight: lighter;
}

h1{
	font-weight: bold;
}

