nav{
	font-weight: bold;
	background: linear-gradient(to right, #113e4e, #258c84, #32BEA6);	
}

nav .collapse{
	font-weight: lighter;
}
nav a{
	color: #fff;
}

.links{
	font-size: 1.05rem;
}
.nav-link a{
	color: #fff;
	background: red;
}

.jumbotron {
	background-color: white;
}

.jumbotron h1{
	font-weight: bold;
	font-size: 5rem;
	color: rgba(0,0,0,.8);
}

.p{
	font-size: 2rem;
	font-weight: lighter;
}


body, h2{
	font-weight: lighter;
}


h1{
	font-weight: bold;
}

.jumbotron{
	padding: 5%;
	padding-top: 8%;
}

.index{
	margin-left: 10%;
	float: left;
}

.jumbotron> .icon{

	 float: left;
	 text-align: center;
	 width: 40%;
	 padding: 5%;	 
}

.icon i{
	font-size: 8rem;
}

.opcionesIndex .btn{
	background: #30B7A1;
	border: none;
	color: #fff;
	font-weight: bold;
}
